* {
      font-family: Verdana;
}

.navbg {
      background-color: purple;
      font-weight: bold;
}

.heading {
      color: purple;
      font-size: 5vw;
      font-weight: bolder;
      text-shadow: 2px 2px grey;
      text-align: center;
}

form{
      border: 1px solid purple;
}

input[type="submit"] {
      background-color: purple;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
}

.footerbg {
      background-color: rgba(0, 0, 0, 0.907);
      color: white;
}

.link {
      color: white !important;
}

.link:hover {
      color: purple !important;
}
